.nav{
    display: flex;
    justify-content: space-around;
    background-color: indigo;
}
nav .navbar-brand{
    font-size: 20px;
    color: ivory;
    font-weight: 800;
}
ul{
    display: flex;
}
ul li{
    margin: 10px;
    list-style-type: none;
}
ul li a{
    color: #ffffff;
}